<form method="POST" action="/new">
    <label for="AuthorName" >Enter your name</label>
    <input type="text" required name="AuthorName" >

    <label for="message">Enter your text</label>
    <input type="text" required name="message">

    <button>Submit</button>
</form>